@import "contenedores";
@import "textoPosiciones";

*{padding: 0;
    margin: 0;}
   
$seccion:Inicio;

body{
    @if $seccion == Inicio{ 
        background-image: url("../recursos/fondoJack.png");
        height: 100vh;
    }@else if $seccion == Destilados{
        background-image: url("../recursos/fondoJack.png");
        height: 100vh;
    }@else {
        background-color: aliceblue;
    }
        
}
